*{
    margin:0;
    padding:0;
    background-color:azure
}
main{
    display:flex;
    flex-direction: column;
    

}
#navbar{
    height:60px;
    background-color:deeppink
}
#signinform{
    position:absolute;
    border:2px solid black;
    height:50vh;
    width:50vw;
    display:flex;
    flex-direction:column;
    justify-content: center;
    
}
#bt1{
    position:absolute;
    right:2px;
}